@import '../utils/variables.scss';

// Base Font Size for Responsive Scaling
html {
  font-size: $font-size-mobile;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size-desktop;
  }
}

// Body Text
body {
  font-family: $font-stack;
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  line-height: $line-height;
  color: $text-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  line-height: 1.2;
}


h1 {
  font-size: 2rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.25rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 2.5rem;
  }

  @media (min-width: $breakpoint-desktop-large) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 2rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 2.25rem;
  }

  @media (min-width: $breakpoint-desktop-large) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.75rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 2rem;
  }

  @media (min-width: $breakpoint-desktop-large) {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: 1.25rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.5rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.75rem;
  }

  @media (min-width: $breakpoint-desktop-large) {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.25rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.5rem;
  }

  @media (min-width: $breakpoint-desktop-large) {
    font-size: 1.75rem;
  }
}

h6 {
  font-size: 0.875rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.25rem;
  }

  @media (min-width: $breakpoint-desktop-large) {
    font-size: 1.5rem;
  }
}

p.extra-small {
  font-size: 12px;
}


// Links
a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Blockquotes
blockquote {
  font-style: italic;
  margin: 1.5em 0;
  padding-left: 1.5em;
  border-left: 4px solid $primary-color;
}

// Code
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

// Small text
small {
  font-size: 80%;
}
